<ion-row no-padding no-margin>
  <ion-col>
    <h2 text-wrap>{{ session.title }}</h2>
    <p>{{ session.speaker }}</p>
    <p *ngIf="showDate">{{ formatDate(session) }}</p>
    <p>Room {{ session.room }}</p>
  </ion-col>
</ion-row>

