<ion-header>
  <ion-navbar>
    <ion-title>
      Sessions
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group [virtualScroll]="sessionData" [headerFn]="isHeader">
    <ion-item-divider *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>
    <ion-item *virtualItem="let session">
      <session-list-item [session]="session"></session-list-item>
    </ion-item>
  </ion-item-group>
</ion-content>
