<ion-tabs color="secondary">
  <ion-tab [root]="tab1Root" tabTitle="Schedule" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Sessions" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Speakers" tabIcon="people"></ion-tab>
</ion-tabs>
