<ion-header>
  <ion-navbar>
    <ion-title>
      Speakers
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let speaker of speakerData">
      <ion-thumbnail item-start>
        <img *ngIf="speaker.speaker_image!=''" [src]="speaker.speaker_image" alt="Image of {{ speaker.title }}">
      </ion-thumbnail>
      <h2>{{ speaker.title }}</h2>
      <p>{{ speaker.speaker_location }}</p>
    </ion-item>
  </ion-list>
</ion-content>
