// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
    background-color: color($colors, secondary);
}
.toolbar-title {
    color: color($colors, light);
}

.tabbar {
    a.tab-button[aria-selected=true]:nth-of-type(1) {
		color: color($colors, primary);
		.tab-button-icon {
			color: color($colors, primary);
		}
    }
    a.tab-button[aria-selected=true]:nth-of-type(2) {
		color: color($colors, primary);
		.tab-button-icon {
			color: color($colors, primary);
		}
    }
    a.tab-button[aria-selected=true]:nth-of-type(3) {
		color: color($colors, primary);
		.tab-button-icon {
			color: color($colors, primary);
		}
    }
    a.tab-button[aria-selected=false]:nth-of-type(1) {
		color: color($colors, primary);
		.tab-button-icon {
			color: color($colors, primary);
		}
    }
    a.tab-button[aria-selected=false]:nth-of-type(2) {
		color: color($colors, primary);
		.tab-button-icon {
			color: color($colors, primary);
		}
    }
    a.tab-button[aria-selected=false]:nth-of-type(3) {
		color: color($colors, primary);
		.tab-button-icon {
			color: color($colors, primary);
		}
	}
}