<ion-header>
  <ion-navbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <div *ngFor="let day of scheduleData">
      <ion-item-divider>{{ day.dayName }}</ion-item-divider>
      <ion-item *ngFor="let event of day.events">
        <h2>{{ event.title }}</h2>
        <ion-note item-end>{{ event.time }}</ion-note>
      </ion-item>
    </div>
  </ion-item-group>
</ion-content>
